body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .chess-board {
    display: grid;
    grid-template-columns: repeat(8, 80px);
    grid-template-rows: repeat(8, 80px);
    border: 2px solid #333;
    background-color: #fff;
  }
  
  .chess-board div {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: bold;
    user-select: none;
  }
  
  .chess-board .light {
    background-color: #eee;
  }
  
  .chess-board .dark {
    background-color: #666;
  }
  
  .chess-piece {
    cursor: grab;
  }
  
  .chess-piece:active {
    cursor: grabbing;
  }
  
  .highlight {
    background-color: greenyellow;
  }
  #statusDisplay {
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  